.filterDiv {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150vh;
    grid-gap: 1rem;
    gap: 2rem;
    position: fixed;
    left: 0;
    padding: 1rem 2rem;
    /* border-right: 1px solid #4c4e51; */
    /* position: absolute; */
    overflow-y: auto;
    z-index: 5;
  }
  
  .filter-first {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 0 10px;
    
  }

  .filter-second-child{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 250px;
  }

  .filter-second{
    display: flex;
    flex-direction:column;
    margin:0 auto;
  }
  
  .filter-third {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .filter-fourth {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .filter-fifth {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }