.login {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: auto;
  width: 18.75rem;
  padding: 20px;
  background-color: #fefefe;
  border-radius: 6px;
  margin-top: 100px;
}

.first_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.first_login > h1 {
  letter-spacing: 1px;
}
.first_login > p {
  font-size: 18px;

  line-height:26px;
}

.second_login {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login_input {
  height: 1.7rem;
  border-radius: 6px;
  outline: none;
  padding: 2px 7px;
  font-size: 16px;
  margin-bottom: 5px;

}


.login_link {
  font-size: 18px;
}

.login_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 30px 10px;
  width: 100%;
  background-color: #149253;
  border-radius: 6px;
  margin-top: 10px;
  color: #fefefe;
  letter-spacing: 1px;
}

.login_button:hover {
  background-color: white;
  color: #149253;
  box-shadow: 0 0 5px 0 #149253;
}

.third_login {
  font-size: 18px;
  margin: auto;
  margin-top: 10px;
}
.third_login_link{
    text-decoration: none;
    color: #149253;
}
