

.orderPlaced-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 10rem;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    text-align: center;
    margin:230px auto ;
  }
  
  .orderPlaced-container p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .orderPlaced-container p:first-child {
    font-size: 20px;
  }
  
  .orderPlaced-container p:last-child {
    color: #666;
  }
  