

.profile-container{
    /* display:flex;
    flex-direction:column;
    
    border: 2px solid black;
    gap: 20px;
    padding: 20px;
    justify-content:flex-start;
    position: absolute;
    top: 40%;
    
    border-radius:10px ;
    width: 250px; */

    display: flex;
    flex-direction: column;
    border: 2px solid black;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 350px;
    
}

.profile-container-first{
    display:flex;
    flex-direction:column;
    gap: 10px;
}

.profile-container-second{
    display:flex;
    flex-direction:row;
    gap: 15px;
}