.cart-container {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.cart-container-first {
  display: flex;
  flex-direction: column;
}

.cart-container-second > h2 {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.cart-container-second-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 10px;
}

.save-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.placeOrderButton {
  display: flex;
  justify-content: center;
  padding: 5px 10px 5px;
  background-color: #149253;
  border-radius: 4px;
  color: #fefefe;
  letter-spacing: 1px;
  font-weight: 1000;
  margin: 10px auto;
  width: 70%;
}

.priceStyle::before {
  content: "\20B9";
}

.cart-card {
  border: 1px solid black;
  letter-spacing: 1px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content:space-around;
  margin: 10px 10px;
}
.cart-card-price {
  color: #149253;
}
.cart-card-price::before {
  content: "\20B9";
}
.cart-card-first {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cart-Image {
  height: 250px;
  width: 180px;
  border-radius: 5px;
}

.quantity-card {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  
}

.cart-buttons {
  display: flex;

  justify-content: center;
  padding: 10px 10px 10px;
  width: 100%;
  background-color: #149253;
  border-radius: 4px;

  color: #fefefe;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: 1000;
  font-size: 0.8rem;
  margin: 5px auto;
  width: 150px;
}

.cart-buttons:hover {
  background-color: white;
  color: #149253;
  box-shadow: 0 0 5px 0 #149253;
}

.quantityButton{
  padding: 5px 5px;
  color: white;
  background-color: #149253;
  border-radius: 5px;
  font-weight: 1000;
  
}

@media (min-width: 1024px) {
  .cart-card {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .cart-Image {
    width: 200px;
    height: 250px;
   
    
    }
}
