.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 10px;
  /* border: 1px solid black; */
}

/* .cart-card-container{
    display:flex;
    flex-direction: row;
} */

.cart-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 0.5rem 0;
}

.cart-card-first {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-card > img {
  width: 150px;
}

.cartPrice {
  color: #149253;
}

.cartPrice::before {
  content: "\20B9";
}

.cartButtons {
  display: flex;
  justify-content: center;
  padding: 5px 10px 5px;
  background-color: #149253;
  border-radius: 4px;
  color: #fefefe;
  letter-spacing: 1px;
  font-weight: 1000;
  margin-bottom: 10px;
}

.cartButtons:hover {
  background-color: white;
  color: #149253;
  box-shadow: 0 0 5px 0 #149253;
}

@media (min-width: 768px) {
  .cart-card-container {
    /* border: 1px solid #149253; */
    width: 80%;
  }

  .cart-card {
    width: 100%;
    border-radius: 5px;
    justify-content: space-around;
  }

  .cart-card > img {
    width: 200px;
    border-radius: 5px;
  }

  .cart-card-first {
    gap: 20px;
    margin: auto 0;
  }
}

@media (min-width: 1024px) {

    /* .cartContainer{
        flex-direction: row;
    } */

    .cart-card-container {
        /* border: 1px solid #149253; */
        width: 30%;
        display: flex;
        flex-direction: row;
        
      }
}
