.cart-container{
  display: flex;
  flex-direction: column;
  
}

.cart-container-first{
  display: flex;
  flex-direction: column;
}


.cart-container-second>h2{
  display: flex;
  justify-content: center;
  margin:10px 0;
}

.cart-container-second-first{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 10px;
}

.save-line{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px
}

.placeOrderButton{
  display: flex;
  justify-content: center;
  padding: 5px 10px 5px;
  background-color: #149253;
  border-radius: 4px;
  color: #fefefe;
  letter-spacing: 1px;
  font-weight: 1000;
  margin: 10px auto;
  width: 70%;
}